@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply antialiased text-[15px];
  }
}

* {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.blue-green-500-shadow {
  box-shadow: 0px 0px 5px 0 rgb(0, 0, 0, 0);
}

.blue-green-500-shadow:focus {
  box-shadow: 0px 0px 4px 0 rgb(130, 220, 247), 0 0px 8px 0px rgb(184, 240, 157);
}

.trans-width-200 {
  transition: width 250ms !important;
}

.glass-fill {
  background: linear-gradient(
    118deg,
    rgba(215, 237, 237, 0.16) -47.79%,
    rgba(204, 235, 235, 0) 100%
  ) !important;
}

.drop-shadow-icon {
  filter: drop-shadow(0px 2px 6px #686b6e);
}

.mobile-screen {
  height: calc(100vh - 3rem);
}
